html{
    margin: 0;
    padding:0;
}

body{
    overflow: hidden;
    background: black;
    margin: 0px;
    padding: 0px;
}

#canvas1{
    position: absolute;
    top:0px;
    left:0px;
    z-index: -3;
    width: 100%;
    height: 100%;
}

#hiddenCanvas{
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index: -3;
}

#bodyDiv {
    position: relative;
    margin: 0px;
    display: flex;
    align-items: flex-start; /* Aligns items to the start of the container */
    justify-content: center;
    width: 100%; /* Set width to 100% */
    height: 100vh; /* Set height to 100% of the viewport height */
    padding-top: 10vh; /* Pushes content down by 10% of the viewport height */
    box-sizing: border-box; /* Include border in width and height calculations */
}

.glassCanvasContainer {
    display: flex;
    flex-direction: column;
}

#fullscreenBtn, #hideBtn {
    background: rgba(190, 190, 190, 0.25); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(1px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(10px); /* Fallback for Safari */
    
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 40px; /* Adjust as needed */
    height: 40px; /* Adjust as needed */
    margin-right: 10px; /* Space between the buttons */
    border: none;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#fullscreenBtn img, #hideBtn img {
    height: 30px;
}


#fullscreenBtn:hover, #hideBtn:hover {
    background-color: rgba(122, 122, 122, 0.25);
    backdrop-filter: blur(15px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(10px); /* Fallback for Safari */
}


#fullscreenBtn:active, #hideBtn:active {
    background-color: rgba(88, 88, 88,.25);
    backdrop-filter: blur(15px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(10px); /* Fallback for Safari */
}

#fullscreenBtn {
    left: 60px; /* Adjust as needed */
}

#fullScreenInfo{
    background: rgba(255, 255, 255, 0.1); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(10px); /* Fallback for Safari */
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Add a more pronounced shadow */
    border: 1px solid rgba(255, 255, 255, 0.282); /* Add a subtle border */
    margin: 2vw;
    width: 25vw;
    max-width: 850px;
    z-index: 0;

    opacity: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Tektur', sans-serif;
    text-align: center;
    color: white;
    font-size: 1em; /* Make the title larger */
    font-weight: bold; /* Make the title bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
    display: none;
}




.glass {
    background: rgba(255, 255, 255, 0.1); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur amount */
    -webkit-backdrop-filter: blur(10px); /* Fallback for Safari */
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37); /* Add a more pronounced shadow */
    border: 1px solid rgba(255, 255, 255, 0.282); /* Add a subtle border */
    margin: 3vw;
    width: 50vw;
    max-width: 850px;
    z-index: 0;
    display: block;
}

.hiddenCanvasDiv { /* This is the div holding the canvas */
    position: absolute;
    border-radius: 10px;
    padding: 30px;
    margin: 3vw;
    width: 50vw;
    max-width: 850px;
    z-index: -1;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); /* Default box-shadow */
    transition: box-shadow 5.5s ease-in-out; /* Shorter transition duration */
}



#glassTitle {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Tektur', sans-serif;
    text-align: center;
    color: white;
    font-size: 4em; /* Make the title larger */
    font-weight: bold; /* Make the title bold */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle text shadow */
}

#glassSubTitle{
    font-family: 'Victor Mono', monospace;
    margin-top: 10px;
    color: white;
    text-align: center;
}

#glassParagraph {
    font-family: 'Victor Mono', monospace;
    color: white;
    font-size: 1.2em; /* Make the paragraph text slightly larger */
    line-height: 1.6; /* Increase the line spacing */
    font-weight:800;
    
}

#mainContentDiv{
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}


#themeFieldSet{
    margin-bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#buttonRow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  #btnMovieGreen, #btnBlueMachine, #btnRedVibes, #btnPurpleRain, #btnWhiteLightning, #btnPurpleThunder, .btnCheckerBoard, #btnChess,#btnCozyFire{
    /* Positioning and Box Model */
    margin-left: 10px;
    margin-right: 10px;
    min-height:50px;
    max-height: 4vh;
    width: 8vw;

    /* Border */
    border: none;
    border-radius: 1.5rem;
    border-radius: 10px;

    /* Typography */
    font-family: 'Victor Mono', monospace;
    font-weight:400;
    font-size: 1rem;
    font-size: calc(1em + .1vw);
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff; /* Font Color is on HTML */

    /* Flexbox */
    align-items: center;
    text-align: center;

    /* Transition */
    transition: .2s; 
    transition-property: box-shadow;
  }

#legendTitle{
    font-family: 'Open Sans', sans-serif;
    font-weight:600;
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}

#btnMovieGreen{
    background: rgb(10, 251, 14);
    box-shadow: 0 0 25px rgb(10, 251, 14);
}

#btnMovieGreen:hover{
    box-shadow: 0 0 5px rgb(10, 251, 14),
                0 0 25px rgb(10, 251, 14),
                0 0 30px rgb(10, 251, 14),
                0 0 32px rgb(10, 251, 14);
}

#btnMovieGreen:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0),
                0 0 25px rgba(0, 0, 0, 0),
                0 0 30px rgba(0, 0, 0, 0),
                0 0 32px rgba(0, 0, 0, 0);
}







#btnBlueMachine{
    background: rgb(0,140,255);
    box-shadow: 0 0 25px rgb(0,140,255);
}

#btnBlueMachine:hover{
    box-shadow: 0 0 5px rgb(0,140,255),
                0 0 25px rgb(0,140,255),
                0 0 30px rgb(0,140,255),
                0 0 32px rgb(0,140,255);
}

#btnBlueMachine:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0),
                0 0 25px rgba(0, 0, 0, 0),
                0 0 30px rgba(0, 0, 0, 0),
                0 0 32px rgba(0, 0, 0, 0);
}








#btnRedVibes{
    background: rgb(255, 0, 0);
    box-shadow: 0 0 25px rgb(255, 0, 0);
}

#btnRedVibes:hover{
    box-shadow: 0 0 5px rgb(255, 0, 0),
                0 0 25px rgb(255, 0, 0),
                0 0 30px rgb(255, 0, 0),
                0 0 32px rgb(255, 0, 0);
}

#btnRedVibes:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0),
    0 0 25px rgba(0, 0, 0, 0),
    0 0 30px rgba(0, 0, 0, 0),
    0 0 32px rgba(0, 0, 0, 0);
}




#btnPurpleRain{
    background: rgb(206, 12, 255);
    box-shadow: 0 0 25px rgb(206, 12, 255);
}

#btnPurpleRain:hover{
    box-shadow: 0 0 5px rgb(206, 12, 255),
                0 0 25px rgb(206, 12, 255),
                0 0 30px rgb(206, 12, 255),
                0 0 32px rgb(206, 12, 255);
}

#btnPurpleRain:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0),
    0 0 25px rgba(0, 0, 0, 0),
    0 0 30px rgba(0, 0, 0, 0),
    0 0 32px rgba(0, 0, 0, 0);
}


#btnWhiteLightning{
    background: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

#btnWhiteLightning:hover{
    box-shadow: 0 0 5px rgb(255, 255, 255),
                0 0 25px rgb(255, 255, 255),
                0 0 30px rgb(255, 255, 255),
                0 0 32px rgb(255, 255, 255);
}

#btnWhiteLightning:active{
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0),
    0 0 25px rgba(0, 0, 0, 0),
    0 0 30px rgba(0, 0, 0, 0),
    0 0 32px rgba(0, 0, 0, 0);
}


#btnPurpleThunder{
    border: 2px solid white;
    background: rgb(206, 12, 255);
    box-shadow: 0 0 25px rgb(206, 12, 255);
}

#btnPurpleThunder:active{
    background: rgb(255, 15, 247);
}

#btnPurpleThunder:hover{
    box-shadow: 0 0 50px rgb(206, 12, 255),
                0 0 250px rgb(206, 12, 255),
                0 0 500px rgb(206, 12, 255),
                0 0 1000px rgb(206, 12, 255);
}

#btnPurpleThunder:hover #glassTitle{
    border: 7px solid green;
}

/* On Hover Effects linked with JS*/

.movieGreenHoverEffect {
    box-shadow: inset 0 0 5px rgb(10, 251, 14),
                inset 0 0 20px rgb(10, 251, 14),
                inset 0 0 25px rgb(10, 251, 14),
                inset 0 0 0px rgb(10, 251, 14);
}




.blueMachineHoverEffect {
    box-shadow: inset 0 0 5px rgb(0,140,255),
                inset 0 0 20px rgb(0,140,255),
                inset 0 0 25px rgb(0,140,255),
                inset 0 0 0px rgb(0,140,255);
}

.redVibesHoverEffect {
    box-shadow: inset 0 0 5px rgb(255, 0, 0),
                inset 0 0 20px rgb(255, 0, 0),
                inset 0 0 25px rgb(255, 0, 0),
                inset 0 0 0px rgb(255, 0, 0);
}

.purpleRainHoverEffect {
    box-shadow: inset 0 0 5px rgb(206, 12, 255),
                inset 0 0 20px rgb(206, 12, 255),
                inset 0 0 25px rgb(206, 12, 255),
                inset 0 0 0px rgb(206, 12, 255);
}

.whiteLightningHoverEffect {
    box-shadow: inset 0 0 5px rgb(255, 255, 255),
                inset 0 0 20px rgb(255, 255, 255),
                inset 0 0 25px rgb(255, 255, 255),
                inset 0 0 0px rgb(255, 255, 255);
}









/* --------------- */


.btnCheckerBoard{
    background: rgb(0, 0, 0);
    box-shadow: 0 0 25px rgb(142, 142, 142);
    color: white;  /* Text color */
}

.btnCheckerBoard,
.btnCheckerBoard *,
.btnCheckerBoard :after,
.btnCheckerBoard :before,
.btnCheckerBoard:after,
.btnCheckerBoard:before {
  border: 0 solid;
  box-sizing: border-box;
}


.btnCheckerBoard:disabled {
    cursor: default;
  }
  .btnCheckerBoard:-moz-focusring {
    outline: auto;
  }
  .btnCheckerBoard svg {
    display: block;

  }
  .btnCheckerBoard [hidden] {
    display: none;
  }
  .btnCheckerBoard {
    border-width: 2px;
    overflow: hidden;
    padding: 0.8rem 3rem;
    position: relative;
    font-weight:900;

    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .btnCheckerBoard span {
     mix-blend-mode: exclusion;
  /*   This is a mixing blend mode, you might not need it */
  }
  .btnCheckerBoard:before { 
    -webkit-animation: bg-scroll 3s linear infinite;
    animation: bg-scroll 3s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;

    background:
      repeating-linear-gradient(
      90deg,
      hsla(0, 0%, 100%, 1),
      hsla(0, 0%, 100%, 1) 0.7%,
      transparent 0,
      transparent 3.0%
    ),
      repeating-linear-gradient(
      180deg,
      hsla(0, 0%, 100%, 1),
      hsla(0, 0%, 100%, 1) 0.7%,
      transparent 0%,
      transparent 8%);

    content: "";
    display: block;
    height: 300%;
    width: 305%;
    left: -100%;
    top: 0%;
    opacity: 0;
    position: absolute;
    /* top: 0; */
    transition: opacity 0.3s, background-color 0.2s;
    width: 300%;
  }
  
  .btnCheckerBoard:hover:before {
    -webkit-animation-play-state: running;
    animation-play-state: running;
    opacity: 1;
  }
  .btnCheckerBoard:active:before {
    background-color: #fff;
  }
  
  @-webkit-keyframes bg-scroll {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(5%);
    }
  }
  @keyframes bg-scroll {
    0% {
      transform: translateX(0);
    }
    to {
      transform: translateX(15%);
    }
  }


/* --------------- */

#btnChess{
    background: black;
    color: white;
    border: 2px solid white;
    box-shadow: 0 0 25px rgb(255, 0, 0);
    transition: .2s;
}

#btnChess:active{
    border: 3px solid red;
}

#btnChess:hover{
    box-shadow: 0 0 5px rgb(255,0,0),
                0 0 10px rgb(255,0,0),
                0 0 20px rgb(255,0,0),
                0 0 30px rgb(255,0,0);

    box-sizing: border-box;
}


#btnCozyFire{
    background: rgb(255, 64, 5);
    box-shadow: 0 0 25px rgb(255, 64, 5);
}

#btnCozyFire:hover{
    box-shadow: 0 0 50px rgb(255, 0, 0),
                0 0 250px rgb(255, 0, 0),
                0 0 500px rgb(255, 0, 0),
                0 0 1000px 0 rgb(255, 0, 0);
}

#btnCozyFire:active{
    background: rgb(255, 0, 0);

}

#infoLine{
    display: flex;
    align-items: flex-start; /* Add this line */
    justify-content:space-between;
    color:white;
    font-size: 17px;
    font-family: 'Victor Mono', monospace;
    font-weight:800;
    margin-top: 10px;
}

#linkBox{
    display: flex;
    flex-direction: column;
    text-align: right;
}



#infoLine p, #infoLine a {
    margin: 0;
    padding: 0;
}

#gitHubLink:link {
    color: white;
}

#gitHubLink:visited {
    color: rgb(129, 12, 255);
}

#gitHubLink:active {
    color: rgb(89, 89, 89);
}



